body
{
    background-color: #2F3336;
    color: #efefef;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

h1.logo{
    font-size: 44px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}
nav{
    background-color: #c96f08;
    text-align: center;
}
.menu{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    min-height: 38px;
    line-height: 200%;
}
.menu > li {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px  #ddd dashed;
    display: inline-block; 
}
.menu > li:first-child{
    border-left: 1px #ddd dashed;;
}
.menu a
{
    color: #ddd;
    text-decoration: none;
}
.menu a:hover{
    color: #ccc
}