body
{
    background-color: #2F3336;
    color: #efefef;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

h1.logo{
    font-size: 44px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}
nav{
    background-color: #c96f08;
    text-align: center;
}
.menu{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height: 200%;
    

}